<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>

    <key>CFBundleName</key>
    <string>\$(PRODUCT\_NAME)</string>

    <key>CFBundleShortVersionString</key>
    <string>\$(MARKETING\_VERSION)</string>

    <key>CFBundleVersion</key>
    <string>\$(CURRENT\_PROJECT\_VERSION)</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoadsInLocalNetworking</key>
        <true/>
    </dict>

    <key>NSNFCUsageDescription</key>
    <string>Use NFC to read tags.</string>

    <key>ISO7816 application identifiers for NFC Tag Reader Session</key>
    <array>
        <dict>
            <key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
            <array>
                <string>A0000002471001</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
